<a class="ActionLink" href="{{url}}" title="{{title}}" target="_blank" data-social-service="download">
    <svg>
        <use xlink:href="#mono-icon-download"></use>
    </svg>
    <span>
        {{format "/link/DownloadLink" "downloadText"}}
    </span>
</a>
